body {
  overflow: hidden;
}

#workspace {
  position: relative;
  min-height: 1024px;
}

.sector {
  position: absolute;
  top:      0px;
  left:     0px;
}

.token {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 31px;
  height: 31px;
  z-index: 100;
}

canvas {
  position: absolute;
}
