body {
  margin: 0px;
  overflow: hidden;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 200;
  padding: 10px;
  color: black;
  font-size: 24px;
  font-family: courier;
  padding 0px;
  margin: 0px;
  padding-bottom: 0px;
  line-height: 0.8em;
}

#workspace {
  position: relative;
  min-height: 1024px;
}

.sector {
  position: absolute;
  top:      0px;
  left:     0px;
}

.token {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  z-index: 100;
  cursor: grab;
  user-select: none;
}

.token.reverse {
  transform: scaleX(-1);
}

.token.jumbo {
  width: 64px;
  height: 64px;
}

.token.selected {
  outline: 2px solid magenta;
}

#toolbar div.button {
  display: inline-block;
  color: white;
}

#toolbar div.button.active {
  color: lime;
}

div.button > svg {
  pointer-events: none;
}

div.token > svg {
  pointer-events: none;
}

.pin {
  width: 32px;
  z-index: 100;
  position: absolute;
  left: 200px;
  top: 300px;
  cursor: pointer;
  user-select: none;
}

canvas {
  position: absolute;
}

#toolbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 200;
  padding: 20px 10px 20px 10px;
  line-height: 0px;
}

#toolbar .button {
  width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  user-select: none;
}

#toolbar img.active {
  filter: sepia(1) hue-rotate(45deg) saturate(30) brightness(0.75);
}


#souls {
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 20px;
  margin: 0px;
}

